.login-wrapper{
    display: flex;
    justify-content: center;
}

.login-card{
    width: 27vw;
    margin-top: 15vh;
}

.insta-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.insta-logo-img{
   width: 15vw;
}
.img-card{
    margin-top: 8vh;
    margin-right: 6vh;
    height: 590px;
    width: 441px;
    position: relative;
}
.card{
    height: 590px;
    width: 241px;
    left: 143px;
    top: 80px;
    margin-left: 3.5vh;
    position: absolute;
}

